p{
    margin: 0;
    font-family: Arial,  sans-serif;
}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 3000px;
}
.header-container{
    background-color:#f5f5e7;
    height: 55px;
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    margin-left: 145px;
}
.logo-name{
    color: rgb(92,92,92);
    font-family: Arial,roboto;
}
.middle-section{
    margin-left: 30px;
}
.search-bar{
    flex: 1;
    width: 220px;
    height: 26px;
    border: 1px solid rgb(192,192,192);
    border-radius: 4px;
}
.search-bar::placeholder{
    font-size: 14px;
    padding-left: 6px;
}
.search-button{
    width: 35px;
    height: 29px;   
    margin-left: -1px;
    border: 1px solid rgb(192,192,192);
    background-color: #A67B5B;
}
.search-icon{
    height: 20px;
    margin-top: 2px;
    font-weight: 600;
}
.right-section{
    margin-left: 25px;;
}
a{
    text-decoration: none;
    color: rgb(92,92,92);
    padding: 0.5rem;
    font-family: Arial,roboto;
    font-size: 16px;
}
.discover{
    background-color:#A67B5B;
    padding: 19.8px;
    padding-bottom: 18px;
    color: white;
}
.login-icon{
    height: 16px;
    padding-right: 0;
}
.second-header{
    text-align: center;
    background-color: rgb(63, 62, 62);
    color: white;
    height: 108px;
}
.div-header{
    padding-top: 30px;
}
.resturant{
    font-size: 30px;
    margin-bottom: 6px;
}
.delight{
    font-size: 12.9px;
}
/* main */
.main{
  margin-top: 60px;
  display: flex;
  flex-direction:row ;
  justify-content: center;
  align-items: center;
}
.div-1{
    background-color: rgb(236, 234, 234);
    width: 253px;
    padding-top: 200px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    margin-left: 35px;
}
.div-1-1{
    padding-bottom: 25px;
    margin-left: 24px;
    padding-left: 0;
}
.oven{
    font-size: 24px;
    font-weight: 600;
}
.pork{
    font-size: 24px;
    font-weight: 600;
}
.div-1-2{
    margin-left: 24px;
}
.flipino{
    font-size: 12px;
}
.made{
    font-size: 12px;
    margin-top: 2px;
}
.position{
    position: relative;
}
.toolbar{
    position: absolute;
    top:-230px ;
    left: 30px;
}
.pic{
    width: 210px;
    height: 210px;
    border-radius: 12px;
}
